.master{
    margin-left: 300px;
}

.top{
    width: 700px;
    height: 30px;
    background-color: brown;
    border-radius: 100px 100px 0px 0px;
    margin-bottom: 3px;

}

.main{
    width: 700px;
    height: 600px;
    background-color: yellow;
    /* margin-top: -30px; */



}

 .box1{
    width: 335px;
    height: 590px;
    display: inline-block;
    margin-left: 12px;
    
}

.box2{
    width: 335px;
    height: 590px;
    background-color: limegreen;
    display: inline-block;
    margin-left: 5px;
    margin-top: 4px;
    /* background-image: url(01.jpg);
    background-repeat: no-repeat;
    background-size: contain; */

}

.box01{
    display: inline-block

}
.box02{
    display: inline-block
    
}
.box03{
    display: inline-block
}
.box04{
    display: inline-block
}
.box05{
    display: inline-block
}
.box06{
    display: inline-block
}



/* .img1{
    width: 220px;
    height: 200px;
    background-image: url(01.jpg);
    background-size: contain ;
    background-repeat: no-repeat;
      display: inline-block;
      background-color: darkcyan;
}
.img2{
    width: 220px;
    height: 200px;
    background-image: url(02.jpg);
    background-size: contain ;
    background-repeat: no-repeat;
      display: inline-block;
      background-color:azure;
}
.img3{
    width: 220px;
    height: 200px;
    background-image: url(03.jpg);
    background-size: contain ;
    background-repeat: no-repeat;
      display: inline-block;
      background-color: darkblue;
}
.img4{
    width: 220px;
    height: 200px;
    background-image: url(04.jpg);
    background-size: contain ;
    background-repeat: no-repeat;
      display: inline-block;
      background-color:dimgray;
}
.img5{
    width: 220px;
    height: 200px;
    background-image: url(05.jpg);
    background-size: contain ;
    background-repeat: no-repeat;
      display: inline-block;
      background-color:lawngreen;
}
.img6{
    width: 220px;
    height: 200px;
    background-image: url(06.jpg);
    background-size: contain ;
    background-repeat: no-repeat;
      display: inline-block;
      background-color:saddlebrown;
}
.img7{
    width: 220px;
    height: 200px;
    background-image: url(07.jpg);
    background-size: contain ;
    background-repeat: no-repeat;
      display: inline-block;
      background-color:seashell;
} */
.lower{
    width: 700px;
    height: 30px;
    background-color: brown;
    border-radius: 0px 0px 100px 100px ;
    margin-top: 3px;
}
