.box1{
    width: 300px;
    height: 50px;
    background-color: greenyellow;
    border: 10px grey;
    border-style: double;
}
.box2{
    width: 300px;
    height: 50px;
    background-color: greenyellow;
    border: 3px grey;
    border-style: solid;
}
.box3{
    width: 300px;
    height: 50px;
    background-color: greenyellow;
    border: 3px grey;
    border-style: dotted;
}
.box4{
    width: 300px;
    height: 50px;
    background-color: greenyellow;
    border: 3px grey;
    border-style: dashed;
}
.box5{
    width: 500px;
    height: 80px;
    background-color: greenyellow;
    border: 10px grey;
    border-left-style: dashed;
    border-top-style: dotted;
    border-right-style: double;
    border-bottom-style: ridge;
    
}

.box6{
    width: 600px;
    height: 400px;
    background-color: orchid;
    margin: 100px 50px;
    padding: 80px 120px;

}

.padding{
    font-size: 40px;
}