/* *{
    margin: 0;
    padding: 0;    
} */

.maindiv{
    /* height: 200px; */
   border: 6px solid gray;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* justify-content: space-around; */
       
    
}
.dives{
    color: white;
    text-align: center;
    margin: 5px;
    padding: 20px;
      width: 100px;
    height: 20px; 
    flex-grow: 1;
    
}

.div1{
    /* width: 100px;
    height: 100px; */
    background-color: fuchsia;
    
    
    


}
.div2{
    background-color: darkmagenta;
    /* width: 100px;
    height: 130px; */
    

    

    
}
.div3{
    background-color: darkgoldenrod;
    /* width: 100px;
    height: 100px;
     */
     flex-basis: 400px;

    
       

}
.div4{
    background-color: sienna;
    /* width: 100px;
    height: 100px; */
}
.div5{
    background-color: sienna;
    /* width: 100px;
    height: 100px; */
    flex-basis: 200px;
}
.div6{
    background-color: sienna;
    /* width: 100px;
    height: 100px; */
}
.div7{
    background-color: sienna;
    /* width: 100px;
    height: 100px; */
}
.div8{
    background-color: sienna;
     /* width: 100px;
    height: 100px; */
}
.div9{
    background-color: sienna;
     /* width: 100px;
    height: 100px; */
    flex-basis: 700px;

}
.div10{
    background-color: sienna;
     /* width: 100px;
    height: 100px; */
    flex-basis: 270px;
    flex-shrink: 0;

}
.div11{
    background-color: sienna;
     /* width: 100px;
    height: 100px; */
}
.div12{
    background-color: sienna;
     /* width: 100px;
    height: 100px; */
    flex-basis: 180px;
}
.div13{
    background-color: sienna;
     /* width: 100px;
    height: 100px; */
}
.div14{
    background-color: sienna;
     /* width: 100px;
    height: 100px; */
    flex-basis: 400px;
}
.div15{
    background-color: sienna;
     /* width: 100px;
    height: 100px; */
}

