/* .divmain{
        width: 870px;
        height: 250px;
        background-color: thistle;
         margin: 0px auto;
         position: relative;
         box-sizing: content-box;

      
        
}
main{
    width: 820px;
    height: 200px;
    background-color: lime;
    box-sizing: border-box;
    display: inline-block;
    position: absolute;
    left: 25px;
    top: 25px;
   
   
}

.div1{
    width: 200px;
    height: 200px;
    background-color: yellow;
    border: 4px double peru;
    box-sizing: border-box;
    display: inline-block;
    margin: 2px;
    background-image: url(01.jpg);
    background-size: cover;

}
.div2{
    width: 200px;
    height: 200px;
    background-color: darkblue;
    border: 4px double peru;
    box-sizing: border-box;
    display: inline-block;


}
.div3{
    width: 200px;
    height: 200px;
    background-color: darkcyan;
    border: 4px double peru;
    box-sizing: border-box;
    display: inline-block;


}
.div4{
    width: 200px;
    height: 200px;
    background-color:darkgoldenrod;
    border: 4px double darkgray;
    box-sizing: border-box;
    display: inline-block;


} */


main{
    width: 800px;
    height: 200px;
    background-color: darkgoldenrod;
    display: flex;
    flex-direction: row;
   
}
.div1{
    width: 150px;
    height: 150px;
    background-color: lime;
    /* display: flex; */
   
}
.div2{
    width: 150px;
    height: 150px;
    background-color: deepskyblue;
    
   
}
.div3{
    width: 150px;
    height: 150px;
    background-color: yellowgreen;
    
    
}
.div4{
    width: 150px;
    height: 150px;
    background-color: forestgreen;
    
   
}


.div1,.div2,.div3,.div4{
    margin:0px auto;
    margin-top:20px;
    


}







