menu{
    position: fixed;
    margin-left: 300px;     
}

ul li {
    float: left;
    list-style: none; 
    width: 120px;
    height: 55px;
   
   
}

ul li a{
    text-decoration: none;
    font-size: 15px;
    background-color: #ffa500;
    width: 100px;
    height: 40px;
    text-align: center;
    padding-top: 20px;    
     border: 2px solid red;
     display: inline-block;
    

}
h1{
    display: block;
    position: relative;
}

.position{
    position: absolute;
    top:160px;
}