menu{
    position: fixed;
    margin-left: 300px;
    display: inline-block
    
    
}



ul li {
    float: left;
    margin: 5px;
    list-style: none;
    background-color: orange;
    
    width: 100px;
    height: 40px;
    padding: 10px;
    border: 2px solid red;
}

ul li a{
    text-decoration: none;
    font-weight: bolder;
    

}
h1{
    display: block;
    position: relative;
}

.position{
    position: absolute;
    top:160px;
}