h1{
    color: sandybrown;
}

.clsselector{
    background-color: darkkhaki;
}

h2~h2{
    color: aquamarine;
}

/* p>b{
    background-color: lightcoral;
    color: palegreen;
}  */

 div p b{
    color: darkred;
}

p b span{
    font-size: 80px;
    color: tomato;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

div p~p{
    color: yellowgreen;
}

div h2+h2 {
    text-transform: capitalize;
}

.child02 b i  {
color: sienna;
font-size: 80px;
}
 
.child02 i{
    text-shadow: 4px 3px 3px peru;
    font-variant: normal;
}

.child02 >b{
    background-color: fuchsia;
    color: royalblue;
    font-variant: small-caps    ;
}

div h2+h2{
    background-color: lightslategrey;
}

div h1,h2{
    background-color: lightcyan;
}

.para>b>b{
    background-color: red;
    font-size: 30px;
}

pre u{
    color: palevioletred;
    text-transform: uppercase;
    font-size: 20px;
}