/* h2{
    color: fuchsia;
    font-weight: 100;
} */

#nik{
    background-color: lightsalmon;
}

#nik{
    color: forestgreen
}

h4,h6, pre{
    background-color: darkgoldenrod;
}
 u~u{
    background-color: sandybrown;
}   